.organizerList li{
  font-size: 100%;
  line-height: 2;
}
aside.clients{
    background-color: #f7f7f7;
}
header{
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url(../img/header-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   opacity: 1;
}
header .intro-datevenue{
  /*color: #fec503;*/
  line-height: 1.8;
}
p.textJustify{

}
.dateVenueHeader{
  font-size: 18px;
  color: #fec503;
  text-transform: uppercase;
}
.bio{
  font-size: 12px;
}
.timeline-text label{
 line-height: 66px;
}

.timeline > li .timeline-image-purple{
  background-color: #653098;
}
.navbar-default{
  background: #fff;
}
.navbar-default .nav li a{
  color: #002147;
  font-size: 12px;
}
.navbar-default{
  padding-bottom: 0px;
  padding-top: 0;
  /*border-bottom: 1px solid #ccc;*/
}
.logo-header{
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  color: #002147;
}
.navbar-default .navbar-brand{
  font-size: 1.1em;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #fec503;
}
.timeline-text{
  font-size: 12px;
}
.profileImg{
  padding-top: 30px;
}
.speakerTitle{
  font-size: 1.2em;
  line-height: 20px;
  color: #fec503;
}
#LordWinston, #peterChilds, #simonFoster{
  padding-top: 170px;
  margin-top: -150px;
}
footer{
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}
section h2.section-heading{
  font-size: 25px;
}
section{
  background-color: #fcfcfc;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fec503;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a {
    border-radius: 0px;
}
.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fec503;
    background-color: transparent;
}
.navbar-default .nav .dropdown-menu li a{
  text-transform: none;
}
header .intro-text{
  padding-top: 200px;
  padding-bottom: 100px;
}
h1, h2, h3, h4, h5, h6{
  text-transform: none;
  text-align: left;
}
section h3.section-subheading{
  margin-bottom: 30px;
}
.text-muted{
  font-weight: 300;
}
@media(min-width:768px){
  .navbar-default{
    border-bottom: none;
  }
}
@media(max-width:480px){
  .navbar-default{
    border-bottom: none;
  }
  header .intro-text .intro-heading{
    font-size: 1.2em;
  }
  header .intro-text .intro-lead-in{
    font-size: 1.2em;
  }
  footer span.copyright{
    font-size: 0.7em
  }
  section h2.section-heading{
    font-size: 1.2em;
  }
}
.team-member h4{
  font-size: 0.9em;
  text-align: center;
}
.team-member p{
  font-size: 0.8em;
}
.team-member img{
  width: 70%;
}
